@media screen and (max-width:1370px) {
    nav {
        padding: 0 13.33vmax;
    }

    #home {
        height: 100vh;
    }

    #home .left-side-content {
        padding-left: 4vmax;
    }



    section aside {
        width: 85%;
    }

    #home .right-section img {
        height: 70%;
        width: 100%;
    }

    /* #work {
        padding: 8rem 7vmax;
        height: 110vh;
    } */

    /* #work section article {
        height: 20rem;
        width: 90%;
    } */

    /* #work .work-item {
        padding: 2rem;
        height: 20rem;
    } */

    #work .work-item aside p {
        margin: 1rem;
    }

    #work .work-item aside a {
        margin: 1rem;
    }

    #services {
        padding: 7vmax;
    }

    #services section {
        height: 90%;
    }

    #contact section form input,
    #contact-btn {
        font-weight: 400;
        font-size: 0.8rem;
        width: 50%;
    }

    footer {
        padding-left: 7vmax;
    }
}

@media screen and (max-width:1100px) {
    nav {
        padding: 0 5vmax;
    }

    #home {
        height: 110vh;
    }


    #home .left-side-content {
        padding-left: 5vmax;
    }

    #home .left-side-content h1 {
        font-weight: 900;
        font-size: 3rem;
    }

    section aside {
        width: 100%;
    }

    #home .right-section img {
        height: 70%;
        width: 100%;
    }

    #work {
        padding: 8rem 5vmax;
    }

    #services {
        padding: 15vmax 10vmax;
        text-align: center;
    }

}

@media screen and (max-width:900px) {
    nav {
        padding: 0 2vmax;
    }

    nav h2 {
        font-size: 1.8rem;
    }

    nav .nav-list {
        gap: 1rem;
    }

    #home .left-side-content {
        padding-left: 2vmax;
    }

    #home .left-side-content .info {
        width: 100%;
        gap: 2rem;
    }

    #home .left-side-content aside {
        flex-direction: column;
    }

    #home .right-section img {
        height: 70%;
        width: 100%;
    }

    #work {
        padding: 8rem 0;
    }

    /* #work section article {
        height: 25rem;
    } */

    /* #work .work-item {
        height: 25rem;
    } */

    #services {
        padding: 13vmax 0;
        height: 90vh;
    }

    #contact section form h2 {
        font-weight: 100;
        font-size: 2.3rem;
    }



    #contact section form input,
    #contact-btn {
        width: 65%;
    }

    footer {
        padding-left: 0;
        grid-template-columns: 1fr;
    }

    footer .footer-info {
        width: 100%;
        border: none;
    }

    footer .footer-info p {
        width: 50%;
        margin: 2rem auto;
    }

    footer a {
        margin: 1rem;
    }
}

@media screen and (max-width:786px) {

    nav .nav-list,
    a {
        display: none;
    }

    #nav .three-line-manu {
        display: block;
    }
}

@media screen and (max-width:600px) {
    #home {
        height: unset;
        display: flex;
        flex-direction: column-reverse;
    }

    #home .left-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 !important;
    }

    #home .left-side-content {
        border: none;
        padding-top: 1rem;

    }

    #home .left-side-content h1 {
        font-weight: 900;
        font-size: 2.5rem;
    }

    #home .left-side-content .info {
        flex-direction: column;
    }

    #home .left-side-content aside {
        align-items: center;
        width: 100%;
    }

    #home .left-side-content .data-special {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #home .left-side-content .data-special span {
        display: block;
        width: 70%;
        word-wrap: break-word;
    }

    #home article {
        width: 100% !important;
        text-align: center !important;
    }

    #home article::after {
        top: 0;
        left: 0;
    }

    #home .right-section {
        border: none;
    }

    #home .chevronDown {
        font-size: 2rem;
        bottom: 12%;
    }

    /* #work section article {
        height: 30vmax;
        width: 100%;
    } */

    #work .work-item {
        /* height: 30vmax; */
    }

    #work .work-item aside {
        padding: 1rem;
    }

    #work .work-item aside h3 {
        margin: 1rem;
    }

    #work .work-item aside p {
        letter-spacing: 0;
        margin: 0%;
        font-size: 0.75rem;
        line-height: unset;
    }

    #work .work-item aside a {
        padding: 0.4rem 0.7rem;
        font-size: 0.7rem;
        margin: 1rem;
    }

    #timeline .timeline-box::after {
        left: 31px;
    }

    #timeline .timeline-box {
        width: 100% !important;
        padding-left: 5rem;
        padding-right: 2rem;
    }

    .TimelineItem {
        width: 100%;
        padding: 20px 20px;
    }

    .TimelineItem .heading-text {
        padding: 10px 10px;
    }

    #timeline .right-timeline {
        right: -50px;
    }

    #timeline .right-timeline,
    .left-timeline::after {
        left: -50px;
    }

    #timeline .left-timeline::after {
        left: -65px;
    }



    #services section {
        margin: 3rem 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 1;
    }

    #services section .service-box-1 {
        grid-column: 1/3;
        grid-row: unset;
    }

    #services section .service-box-4 {
        grid-column: 1/3;
        grid-row: unset;
    }


    #contact {
        grid-template-columns: 1fr;
    }

    #contact aside {
        display: none;
    }


}